@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.about {
  width: 85%;
  max-width: 750px;
  margin: 3rem auto;

  p {
    max-width: fit-content;
  }

  &_container {
  }

  &_title {
    text-align: center;
    margin: 1rem 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 4rem;
      max-width: 500px;
      margin: 0;
    }
  }
}
