@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.project {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  justify-content: space-between;
  background-color: $grey-200;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  background: url("../../../assets/images/web-img-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include media(">=miniDesktop") {
    margin-bottom: 0;
  }

  &_indent {
    @include media(">=miniDesktop") {
      transform: translateY(10%);
    }
  }

  &_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &_title {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    margin-bottom: 1.2rem;
    z-index: 2;

    h5 {
      margin: 0;
      color: $white;
    }
  }

  &_creator {
    text-transform: capitalize;
    z-index: 2;
    font-size: $extraSmallText;
    color: $grey-300;
    font-family: $AirBnBMedium;
    opacity: 0.7;
  }

  &_footer {
    margin-bottom: 3rem;
    color: $grey-900;
    font-size: $smallText;
    z-index: 2;
  }

  &_explore {
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-family: $AirBnBLight;
    font-size: $smallText;
    opacity: 0.8;
    color: $grey-100;
  }

  //   h5 {
  //     line-height: 1;
  //     margin: 0 0 0.2rem;
  //   }
}
