@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.project {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  justify-content: space-between;
  background-color: $grey-200;
  margin-bottom: 10px;

  @include media(">=miniDesktop") {
    margin-bottom: 0;
  }

  &_indent {
    @include media(">=miniDesktop") {
      transform: translateY(10%);
    }
  }

  &_title {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    margin-bottom: 1.2rem;

    h5 {
      margin: 0;
    }
  }

  &_creator {
    text-transform: capitalize;

    font-size: $extraSmallText;
    color: $black-600;
    font-family: $AirBnBMedium;
    opacity: 0.7;
  }

  &_footer {
    margin-bottom: 3rem;
    color: $grey-900;
    font-size: $smallText;
  }

  &_explore {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-family: $AirBnBLight;
    font-size: $smallText;
    opacity: 0.8;
  }

  //   h5 {
  //     line-height: 1;
  //     margin: 0 0 0.2rem;
  //   }
}
