@import "../../../../styles/variables.scss";
@import "../../../../styles/breakpoints.scss";

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $grey-100;
  z-index: 4;
}
