@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.article {
  margin: 4% 10px;
  width: auto;
  box-shadow: $shadow-2;
  position: relative;

  @include media(">=miniDesktop") {
    margin: 0;
  }

  &_indent {
    @include media(">=miniDesktop") {
      transform: translateY(10%);
    }
  }

  &_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    padding: 2.5rem;
    background-color: $grey-200;
    cursor: pointer;
    background: url("../../../assets/images/web-img-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.65);
  }

  &_intro {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    &_category {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 0.65rem;
      color: $grey-200;
      font-family: $AirBnBMedium;
    }

    &_date {
      font-weight: 500;
      color: $grey-300;
      font-size: $extraSmallText;

      svg {
        margin-right: 5px;
        font-size: 0.6rem;
      }
    }
  }

  &_details {
    position: relative;
    z-index: 2;
    h5 {
      line-height: 1.5;
      margin: 0 0 0.2rem;
      color: $white;
    }

    small {
      margin: 0;
      padding: 0;
      line-height: 0;
      color: $grey-200;

      svg {
        transform: translateY(15%);
        margin-right: 5px;
      }
    }
  }
}
